<head>
  <meta charset="UTF-8">
  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ site.title }} &middot;{{ page.title }} 
    {% endif %}
  </title>

  <link rel="shortcut icon" type="image/x-icon"  href="{{ site.baseurl}}public/image/leave.ico">

  <!-- CSS -->
  <link type="text/css" rel="stylesheet" href="http://fast.fonts.com/cssapi/d70ca5cd-778e-48cc-9e59-6b276425c670.css"/>
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/css.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/style.css">
   <link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/base.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/web-fonts.css" media="screen, projection" />

   <link media="only screen and (max-device-width: 480px)" href="{{ site.baseurl }}public/css/agency.css" />
    <link media="only screen and (max-device-width: 480px)" href="{{ site.baseurl }}public/css/bootstrap.css" />
    <link media="only screen and (max-device-width: 480px)" href="{{ site.baseurl }}public/css/mobile.css" />
    <link href='http://fonts.googleapis.com/css?family=Coustard:400,900' rel='stylesheet' type='text/css'>
  <!-- RSS -->
 <!--  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}atom.xml"> -->

</head>

 <div align = "center"><img src = "{{ site.baseurl}}pictures/cat.png" height="200px"> </div> 
 <!-- <img href = "../pictures/cat.png">  -->
