<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>


  <div class = "main-div">


      <div class="container">
       <div align = "left">
         <a href="{{ site.baseurl }}me" title = "Click to my personal website"><img  style="display:inline;  float: left;" src = "{{ site.baseurl}}pictures/cat1.png" height="25px" width="27px" onclick = ""></a>
       <a href="{{ site.baseurl }}index.html" title = "Click to blog home"><img src = "{{ site.baseurl}}pictures/home.png" height="30px" onclick = "" ></a>


        </div> 


      <main>
        {{ content }}
      </main>
      </div>


     <!--  <footer class="footer">
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </small>
      </footer> -->
    </div>
<!--       <div id="bg"> -->
      <!-- <img src="{{ site.baseurl }}public/image/55.jpg"  alt=""> -->
     <!-- </div> -->
  <div id = "container1"></div>

<!--   <footer class = "tail"> -->
      
  </footer>
  </body>
      <!-- js -->
<script type="text/javascript" src='{{ site.baseurl }}public/js/sketch.min.js'></script>
<script type="text/javascript" src="{{ site.baseurl }}public/js/index.js"></script>

</html>
