<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

  {% include header.html %}
    </div>
  <div class = "main-div">

      <div class="container">
      <main>
        {{ content }}
      </main>
      </div>


     <!--  <footer class="footer">
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </small>
      </footer> -->
    </div>
<!--       <div id="bg"> -->
      <!-- <img src="{{ site.baseurl }}public/image/55.jpg"  alt=""> -->
     <!-- </div> -->
  <div id = "container1"></div>

  <footer class = "tail">
      
  </footer>
  </body>
      <!-- js -->
<script type="text/javascript" src='{{ site.baseurl }}public/js/sketch.min.js'></script>
<script type="text/javascript" src="{{ site.baseurl }}public/js/index.js"></script>

</html>
