<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
  <div class="top-title">
  <div class="header">
      <div class="container" >
          <ul class = "menu">
          {% for page in site.pages_list %}
            &nbsp;&nbsp;&nbsp;
            {% if page[0]  == "Painting" %}
              <li ><a href="{{ page[1] }}" style="color: #626262 " class="painting">{{ page[0] }}</a></li>          
            {% else %}
              <li ><a href="{{ page[1] }}" style="color: #626262 ">{{ page[0] }}</a></li>
            {% endif %}
          {% endfor %}
          </ul>
          <section class = "name">
<!--             <a href="/" title="Home"><b>{{ site.title }}</b></a>
 -->          
             <a href="/" title="Home" style="color: #565656; font-weight:800">wish</a>

           </section>
      </div>  
    </div>
    </div>
  <div class = "main-div">
    
      <div class="container">
      <main>
        {{ content }}
      </main>
      </div>


     <!--  <footer class="footer">
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </small>
      </footer> -->
    </div>
      <div id="bg">
      <img src="{{ site.baseurl }}public/image/28.jpg"  alt="">
     </div>
  <div id = "container1"></div>
  </body>
      <!-- js -->
<script type="text/javascript" src='{{ site.baseurl }}public/js/sketch.min.js'></script>
<script type="text/javascript" src="{{ site.baseurl }}public/js/index.js"></script>

</html>
